<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>
          <Exclude>
            [Expenso.Shared.Tests.ArchTests]*,
            [Expenso.Shared.Tests.Utils.ArchTests]*,
            [Expenso.Shared.Tests.UnitTests]*,
            [Expenso.Shared.Tests.Utils.UnitTests]*,
            [Expenso.IAM.Tests.ArchTests]*,
            [Expenso.IAM.Tests.UnitTests]*,
            [Expenso.UserPreferences.Tests.ArchTests]*,
            [Expenso.UserPreferences.Tests.UnitTests]*,
            [Expenso.Api.Tests.ArchTests]*,
            [Expenso.Api.Tests.E2E]*,
            [Expenso.Api.Tests.UnitTests]*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>